.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/bg_3.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-weight: 400;
        font-size: 20px;
        margin-top: 80px;
    }
    .error {
        border: 1px solid $main-color;
    }
    label.error {
        border: none;
        margin-bottom: 15px;
        font-size: 12px;
        color: #ffffff;
    }
}