.title {
    text-align: center;
    font-size: 30px;
    color: #0d0d0d;
    font-weight: 500;
    text-transform: uppercase;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
    }
    &_reviews {
        margin-bottom: 70px;
    }
}